<div class="login-form">
  <div class="form-field" *ngIf="newUser">
    <label for="username">Username</label><input type="text" name="username" id="username">
  </div>
  <div class="form-field">
    <label for="email">Email</label><input type="text" name="email" id="email">
  </div>
  <div class="form-field">
    <label for="password">Password</label><input type="password" name="password" id="password">
  </div>
  <div class="form-field" *ngIf="newUser">
    <label for="confirm">Repeat password</label><input type="confirm" name="confirm" id="confirm">
  </div>
  <div class="form-actions">
    <button class="btn-send" *ngIf="!newUser" (click)="userLogin()">Log in</button>
    <button class="btn-send" *ngIf="newUser" (click)="createUser()">Register</button>
    <span class="toggle" *ngIf="!newUser">New user? Click <a class="toggle-button" (click)="newUser = !newUser">here</a> to create an account.</span>
    <span class="toggle" *ngIf="newUser">Already registered? Click <a class="toggle-button" (click)="newUser = !newUser">here</a> to log in.</span>
  </div>
</div>